<ion-view title="1° Año" id="page8" style="background-color:#0082D8;">
  <ion-content padding="true" class="has-header">
    <ion-list id="1AO-list64">
      <ion-item class="item-divider" id="1AO-list-item-divider3"> Ingreso</ion-item>
      <ion-item class="item-icon-left dark" id="1AO-list-item25" ui-sref="tecElectroElectrNica.matemTica()">
        <i class="icon ion-university"></i>Matemática</ion-item>
    </ion-list>
    <ion-list id="1AO-list65">
      <ion-item class="item-icon-left dark" id="1AO-list-item26" ui-sref="tecElectroElectrNica.fSica()">
        <i class="icon ion-university"></i>Física</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="1AO-list66">
      <ion-item class="item-divider" id="1AO-list-item-divider4"> 1° Cuatrimestre</ion-item>
    </ion-list>
    <ion-list id="1AO-list67">
      <ion-item class="item-icon-left dark" id="1AO-list-item37" ui-sref="tecElectroElectrNica.matemTicaAplicada()">
        <i class="icon ion-university"></i>Matemática Aplicada</ion-item>
    </ion-list>
    <ion-list id="1AO-list68">
      <ion-item class="item-icon-left dark" id="1AO-list-item38" ui-sref="tecElectroElectrNica.instalacionesElCtricasI()">
        <i class="icon ion-university"></i>Instalaciones Eléctricas I</ion-item>
      <ion-item class="item-icon-left dark" id="1AO-list-item39" ui-sref="tecElectroElectrNica.iluminaciN()">
        <i class="icon ion-university"></i>Iluminación</ion-item>
    </ion-list>
    <ion-list id="1AO-list69">
      <ion-item class="item-icon-left dark" id="1AO-list-item40" ui-sref="tecElectroElectrNica.tallerDeElectricidad()">
        <i class="icon ion-university"></i>Taller de Electricidad</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="1AO-list70">
      <ion-item class="item-divider" id="1AO-list-item-divider5"> Anuales</ion-item>
    </ion-list>
    <ion-list id="1AO-list71">
      <ion-item class="item-icon-left dark" id="1AO-list-item41" ui-sref="tecElectroElectrNica.ingles()">
        <i class="icon ion-university"></i>Ingles</ion-item>
      <ion-item class="item-icon-left dark" id="1AO-list-item42" ui-sref="tecElectroElectrNica.informTicaAplicada()">
        <i class="icon ion-university"></i>Informática Aplicada</ion-item>
    </ion-list>
    <ion-list id="1AO-list72">
      <ion-item class="item-icon-left dark" id="1AO-list-item43" ui-sref="tecElectroElectrNica.expresiNOralYEscrita()">
        <i class="icon ion-university"></i>Expresión Oral y Escrita</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="1AO-list7">
      <ion-item class="item-divider" id="1AO-list-item-divider6"> 2° Cuatrimestre</ion-item>
      <ion-item class="item-icon-left dark" id="1AO-list-item44" ui-sref="tecElectroElectrNica.instalacionesElCtricasII()">
        <i class="icon ion-university"></i>Instalaciones Eléctricas II</ion-item>
      <ion-item class="item-icon-left dark" id="1AO-list-item45" ui-sref="tecElectroElectrNica.seguridadYProtecciNIndustrial()">
        <i class="icon ion-university"></i>Seguridad y Protección Industrial</ion-item>
      <ion-item class="item-icon-left dark" id="1AO-list-item46" ui-sref="tecElectroElectrNica.electrNicaI()">
        <i class="icon ion-university"></i>Electrónica I</ion-item>
      <ion-item class="item-icon-left dark" id="1AO-list-item47" ui-sref="tecElectroElectrNica.representaciNTCnica()">
        <i class="icon ion-university"></i>Representación Técnica</ion-item>
      <ion-item class="item-icon-left dark" id="1AO-list-item48" ui-sref="tecElectroElectrNica.tallerDeElectrNicaAplicada()">
        <i class="icon ion-university"></i>Taller de Electrónica Aplicada</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>