<ion-view title="2° Año" id="page9" style="background-color:#0082D8;">
  <ion-content padding="true" class="has-header">
    <ion-list id="2AO-list73">
      <ion-item class="item-divider" id="2AO-list-item-divider7"> 1° Cuatrimestre</ion-item>
    </ion-list>
    <ion-list id="2AO-list74">
      <ion-item class="item-icon-left dark" id="2AO-list-item29" ui-sref="tecElectroElectrNica.electrNicaII()">
        <i class="icon ion-university"></i>Electrónica II</ion-item>
    </ion-list>
    <ion-list id="2AO-list75">
      <ion-item class="item-icon-left dark" id="2AO-list-item30" ui-sref="tecElectroElectrNica.instalacionesElCtricasIII()">
        <i class="icon ion-university"></i>Instalaciones Eléctricas III</ion-item>
    </ion-list>
    <ion-list id="2AO-list76">
      <ion-item class="item-icon-left dark" id="2AO-list-item31" ui-sref="tecElectroElectrNica.tallerDeDocumentaciNElCtrica()">
        <i class="icon ion-university"></i>Taller de Documentación Eléctrica</ion-item>
    </ion-list>
    <ion-list id="2AO-list77">
      <ion-item class="item-icon-left dark" id="2AO-list-item32" ui-sref="tecElectroElectrNica.sensoresYAutomatismo()">
        <i class="icon ion-university"></i>Sensores y Automatismo</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="2AO-list8">
      <ion-item class="item-divider" id="2AO-list-item-divider8"> 2° Cuatrimestre</ion-item>
      <ion-item class="item-icon-left dark" id="2AO-list-item49" ui-sref="tecElectroElectrNica.neumTicaEHidrUlica()">
        <i class="icon ion-university"></i>Neumática e Hidráulica</ion-item>
      <ion-item class="item-icon-left dark" id="2AO-list-item50" ui-sref="tecElectroElectrNica.tallerDeEmpresaTecnolGica()">
        <i class="icon ion-university"></i>Taller de Empresa Tecnológica</ion-item>
      <ion-item class="item-icon-left dark" id="2AO-list-item51" ui-sref="tecElectroElectrNica.instalacionesDeCorrientesDBiles()">
        <i class="icon ion-university"></i>Instalaciones de Corrientes Débiles</ion-item>
      <ion-item class="item-icon-left dark" id="2AO-list-item52" ui-sref="tecElectroElectrNica.electrNicaIII()">
        <i class="icon ion-university"></i>Electrónica III</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>