<ion-view title="3° Año" id="page10" style="background-color:#0082D8;">
  <ion-content padding="true" class="has-header">
    <ion-list id="3AO-list78">
      <ion-item class="item-divider" id="3AO-list-item-divider9"> 1° Cuatrimestre</ion-item>
    </ion-list>
    <ion-list id="3AO-list79">
      <ion-item class="item-icon-left dark" id="3AO-list-item35" ui-sref="tecElectroElectrNica.sistemasDigitales()">
        <i class="icon ion-university"></i>Sistemas Digitales</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="3AO-list9">
      <ion-item class="item-divider" id="3AO-list-item-divider10"> </ion-item>
      <ion-item class="item-icon-left dark" id="3AO-list-item36" ui-sref="tecElectroElectrNica.trabajoFinal()">
        <i class="icon ion-university"></i>Trabajo Final</ion-item>
    </ion-list>
  </ion-content>
</ion-view>