<ion-view title="Alcance del Título" id="page7">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <span style="color: #ff6600;">
          <strong>
            <u>Alcance del Título:</u>
          </strong>
        </span>
      </h4>
      <p>El Título de Técnico en Electro-Electrónica, capacita y habilita para:</p>
      <p>
        <span style="color: #ff6600;">►&nbsp;</span>Colaborar en el diseño de nuevas instalaciones eléctricas (potencia,&nbsp;control de datos, comunicaciones y alarmas), domiciliarias, comerciales y&nbsp;de pequeñas y medianas industrias hasta 50 KW.&nbsp;</p>
      <p>
        <span style="color: #ff6600;">►&nbsp;</span>Participar en la realización de gestiones para la habilitación de&nbsp;instalaciones nuevas o la implicación de instalaciones existentes.&nbsp;</p>
      <p>
        <span style="color: #ff6600;">►</span>&nbsp;Realizar de tareas de reparación de sistemas de iluminación para interior y&nbsp;exterior.&nbsp;</p>
      <p>
        <span style="color: #ff6600;">►&nbsp;</span>Trabajar en estrecha relación con estudios de arquitectura e ingeniería,&nbsp;brindando servicios de instalación calificada en obra y participar en el&nbsp;asesoramiento técnico sobre accesorios y tecnologías disponibles en la&nbsp;etapa
        de formulación de proyectos en electro electrónica.&nbsp;</p>
      <p>
        <span style="color: #ff6600;">►</span>&nbsp;Colaborar con la implementación de instalaciones de cableado&nbsp;estructurado.&nbsp;</p>
      <p>
        <span style="color: #ff6600;">►</span>&nbsp;Ejecutar instalaciones de audio y de vídeo.</p>
      <p>
        <span style="color: #ff6600;">►</span>&nbsp;Colaborar con la programación e instalación de controladores lógicos&nbsp;programables (PLCs).</p>
      <p>
        <span style="color: #ff6600;">►</span>&nbsp;Colaborar con la realización de informes en el marco de lo establecido en&nbsp;disposiciones reglamentarias en materia de seguridad de instalaciones&nbsp;edilicias, especialmente las relativas a seguridad personal y prevención&nbsp;contra
        propagación de humo y llamas.&nbsp;</p>
      <p>
        <span style="color: #ff6600;">►</span>&nbsp;Interactuar con profesionales de otras áreas afines (arquitectura,&nbsp;ingeniería e informática), para instalar sistemas electrónicos y accesorios,&nbsp;integrar dispositivos con interfaces de electrónica de potencia, instalar y&nbsp;programar
        centrales telefónicas y proyectar e instalar sistemas electrónicos&nbsp;de seguridad, siempre bajo la supervisión de profesionales afines.&nbsp;</p>
      <p>
        <span style="color: #ff6600;">►</span>&nbsp;Interactuar en el sector comercial, colaborando con la representación y&nbsp;venta técnica de equipamiento eléctrico y accesorios con contenidos&nbsp;electrónico variado.</p>
    </div>
  </ion-content>
</ion-view>