<ion-view title="Física" id="page14" style="background-color:#0082D8;">
  <ion-content padding="true" class="has-header">
    <ion-list id="fSica-list12">
      <ion-item class="item-icon-right dark" id="fSica-list-item78" href-inappbrowser="https://drive.google.com/file/d/1vXzo5VsQ3vdv1UbcsAZpkYAI4RnqDmon/view?usp=sharing">Guía de Estudio U1 A U4
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="fSica-list-item79" href-inappbrowser="https://drive.google.com/file/d/1kXYNCadMcT_OvPy6rUhgqGd2iLc7MDDq/view?usp=sharing">Guía de Estudio U5
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="fSica-list-item80" href-inappbrowser="https://drive.google.com/file/d/1nh5tZi_Ed27PPB9YrROD3Wq6izEiqsTF/view?usp=sharing">Guía de Estudio U6
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="fSica-list13">
      <ion-item class="item-icon-right dark" id="fSica-list-item81" href-inappbrowser="https://drive.google.com/file/d/1gxn4e1rQXgZI-a9GBgvP15tOkVUvkt-q/view?usp=sharing">Trabajo Práctico 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="fSica-list-item82" href-inappbrowser="https://drive.google.com/file/d/1oiCKTv-XL_ORpGskam2u78YDtOD2vjmO/view?usp=sharing">Trabajo Práctico 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="fSica-list-item83" href-inappbrowser="https://drive.google.com/file/d/1wu0phscjbErxnzmnQi_vFZ6AM1StFtaa/view?usp=sharing">Trabajo Práctico 4
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>