<ion-view title="Inicio" hide-nav-bar="true" id="page1" style="background-color:#FFFFFF;">
  <ion-content padding="true" style="background: url(img/HmXGKbrSSdqPyebGryR5_Splash20App.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div id="inicio-button-bar1" class="button-bar"></div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="img/svOmcQnNRKXDV9KwBMNw_LogoTEEApp10.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 15px;"></div>
    <ion-list id="inicio-list3">
      <ion-item class="item-avatar dark" id="inicio-list-item9" ui-sref="tecElectroElectrNica.planDeEstudios()">
        <img src="img/jlfe3qoThWihcVNd380Z_a006.png">
        <h2dark>Plan de Estudios</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="inicio-list-item10" ui-sref="tecElectroElectrNica.horarios()">
        <img src="img/7cep9Oo0S5iXX8FwE7ay_a005.png">
        <h2dark>Horarios</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="inicio-list-item23" ui-sref="tecElectroElectrNica.programasDeCTedra()">
        <img src="img/AjX3FUPsQTGJreRLYrJR_a004.png">
        <h2dark>Programas de Cátedra</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="inicio-list-item11" ui-sref="tecElectroElectrNica.bibliotecaDigital()">
        <img src="img/uvnSd9oaSTm9C4Bbm278_a003.png">
        <h2dark>Biblioteca Digital</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="inicio-list-item24" ui-sref="tecElectroElectrNica.calendarioAcadMico()">
        <img src="img/C8Ja7PZBTfaR3tJqfBDE_a002.png">
        <h2dark>Calendario Académico</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="inicio-list-item12" ui-sref="tecElectroElectrNica.acercaDeLaApp()">
        <img src="img/KUpmWJpwTNSxq7JqWuuS_a001.png">
        <h2dark>Acerca de la App</h2dark>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>