<ion-view title="Perfil del Graduado" id="page6">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <span style="color: #ff6600;">
          <strong>
            <u>Perfil del Graduado:</u>
          </strong>
        </span>
      </h4>
      <p>El Técnico Electro-Electrónico está capacitado para colaborar en el&nbsp;diseño de nuevas instalaciones eléctricas (potencia, control de datos,&nbsp;comunicaciones y alarmas), domiciliarias, comerciales y de pequeñas y&nbsp;medianas industrias hasta
        50 KW, de acuerdo a la reglamentación de AEA&nbsp;(Asociación Electrotécnica Argentina). Además, podrá desempeñarse en&nbsp;industrias en el área de mantenimiento eléctrico, colaborando con el&nbsp;diagnóstico y reparación de fallas en equipos
        electro-electrónicos,&nbsp;máquinas industriales e instalaciones eléctricas, siempre bajo la supervisión&nbsp;de profesionales afines.&nbsp;</p>
      <p>En el área comercial, el Técnico Electro-Electrónico colabora en la&nbsp;representación y venta técnica de equipamiento eléctrico y electrónico&nbsp;variado.&nbsp;</p>
    </div>
  </ion-content>
</ion-view>