<ion-view title="Programas de Cátedra" id="page12" style="background-color:#0082D8;">
  <ion-content padding="true" class="has-header">
    <ion-list id="programasDeCTedra-list11">
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item33" href-inappbrowser="https://drive.google.com/file/d/1ITJJpmA_MNmdTsRXCOBSNDYacTkkvMX3/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Matemática</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item34" href-inappbrowser="https://drive.google.com/file/d/1ILbcNsxuZfChYZeNzLBu6s_p_100gpkY/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Física</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item53" href-inappbrowser="https://drive.google.com/file/d/1ooiPhonhgUzHrr3Z4_Okybw7im0JJx2T/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Matemática Aplicada</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item54" href-inappbrowser="https://drive.google.com/file/d/1Q1Sp6ON5JykmlSJ1LZL2lNagw9iuuivx/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Instalaciones Eléctricas I</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item55" href-inappbrowser="https://drive.google.com/file/d/1ddH1ugN6QKjihrfa9C4KZ6e2UK4Wm9lF/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Iluminación</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item56" href-inappbrowser="https://drive.google.com/file/d/1EEeTKpuRy74dY04hPpF19WwNVRIR3PSe/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Taller de Electricidad</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item57">
        <i class="icon ion-ios-list-outline"></i>Ingles</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item58" href-inappbrowser="https://drive.google.com/file/d/13b2vx6TsjptoQropvc_l73DD4P3y6hBs/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Informática Aplicada</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item59" href-inappbrowser="https://drive.google.com/file/d/12gPxSk-QDqLo60GALt63Ec5CcOwBmYWi/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Expresión Oral y Escrita</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item60">
        <i class="icon ion-ios-list-outline"></i>Instalaciones Eléctricas II</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item61" href-inappbrowser="https://drive.google.com/file/d/1B-gmDu7Lqk3QSAHJ3rSnBUD04gPuEDoo/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Seguridad y Protección Industrial</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item62" href-inappbrowser="https://drive.google.com/file/d/1aTGONwiZk0d75zYlNf9FG8qsn7HUolrh/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Electrónica I</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item63" href-inappbrowser="https://drive.google.com/file/d/1vcqiip-_OdRr9FJBtYEljK95Djc_hgx6/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Representación Técnica</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item64">
        <i class="icon ion-ios-list-outline"></i>Taller de Electrónica Aplicada</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item65" href-inappbrowser="https://drive.google.com/file/d/1P8C7AYL1RNywkVgYD9v7pTNpzQ9me7jn/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Electrónica II</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item66" href-inappbrowser="https://drive.google.com/file/d/1Gklm9SaqxJm1pOvzzsZLY_NT7eYmqxrJ/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Instalaciones Eléctricas III</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item67" href-inappbrowser="https://drive.google.com/file/d/12T5BSIgOVEYUoIucx6G7eQXZZ67HE5hQ/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Taller de Documentación Eléctrica</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item68" href-inappbrowser="https://drive.google.com/file/d/1DpzznzoNLZEDBFCq_TqD2K9dl790vy44/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Sensores y Automatismo</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item69">
        <i class="icon ion-ios-list-outline"></i>Neumática e Hidráulica</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item70">
        <i class="icon ion-ios-list-outline"></i>Taller de Empresa Tecnológica</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item71">
        <i class="icon ion-ios-list-outline"></i>Instalaciones de Corrientes Débiles</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item72" href-inappbrowser="https://drive.google.com/file/d/1O90QkxXqxvGGTVQUdPYouwZ9RWJoZu56/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Electrónica III</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item73" href-inappbrowser="https://drive.google.com/file/d/1EeKhRKXHwTUKiz-rVgOZYkigHtAxzDVK/view?usp=sharing">
        <i class="icon ion-ios-list-outline"></i>Sistemas Digitales</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item74">
        <i class="icon ion-ios-list-outline"></i>Trabajo Final</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>